.login-page {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    
    position: absolute;
    top: 0;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-inner {
    background-color: white;
    border-radius: 10px;
    min-width: 500px;
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.login-exit-btn {
    all: unset;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
}

.login-input-container {
    margin: 7px 0px;
}