.add-task-outer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    
    position: absolute;
    top: 0;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-inner {
    background-color: white;
    color: black;
    border-radius: 10px;
    min-width: 500px;
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 50px;
}

.add-task-exit-btn {
    all: unset;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
}

.add-task-task {
    margin: 10px 5px;
}

.add-task-note {
    margin: 10px 5px;
}

.add-task-due-date {
    margin: 10px 5px;
}

.add-task-btn {
    all: unset;
    padding: 10px 12px;
    font-weight: normal;
    color: white;
    background-color: #00D1FF;
    position: absolute;
    bottom: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.add-task-btn:disabled {
    background-color: rgb(189, 189, 189);
}