.logout-outer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    
    position: absolute;
    top: 0;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-inner {
    background-color: white;
    color: black;
    border-radius: 10px;
    min-width: 500px;
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.logout-option-btn {
    all: unset;
    background-color: white;

    cursor: pointer;
    font-weight: bold;
    color: rgb(137, 137, 137);
    border: 2px solid rgb(137, 137, 137);
    border-radius: 10px;
    padding: 7px 10px;
    
    margin: 0px 5px;
    margin-top: 10px;
}

.logout-option-btn:hover{
    color: white;
    border: 2px solid #00D1FF;
    background-color: #00D1FF;
}